
/* Your CSS Code here. */
button{
    background-color: black;
    color: white;
    border-style: none;
    border-radius: 5px;
}

button:hover{
    background-color: yellow;
    color:black;
    border-style: none;
    border-radius: 30px;
}